In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

# create engine for this notebook
engine = create_engine("postgresql://postgres:postgres@localhost:5432/Prescribers")

# ⦁	Which Tennessee counties had a disproportionately high number of opioid prescriptions?

tables needed for this project:  prescription - prescriber - drug - zip_fips - fips_county.

In [2]:
# prescription table
query = "SELECT * FROM prescription"
with engine.connect() as connection:
    rx = pd.read_sql(text(query), con=connection)

rx.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65
0,1.427076e+09,RALOXIFENE HCL,NaN,18.0,28.0,840.0,1009.66,NaN,*,18.0,None,28.0,840.0,1009.66
1,1.003858e+09,GLIMEPIRIDE,NaN,12.0,16.0,480.0,270.86,NaN,*,NaN,*,NaN,NaN,NaN
2,1.184627e+09,TAMSULOSIN HCL,NaN,14.0,24.0,698.0,353.62,NaN,#,NaN,#,NaN,NaN,NaN
3,1.306111e+09,SPIRIVA,NaN,13.0,13.0,390.0,4783.28,NaN,*,NaN,*,NaN,NaN,NaN
4,1.285658e+09,SPIRIVA,NaN,13.0,13.0,390.0,4855.95,NaN,#,NaN,#,NaN,NaN,NaN

In [3]:
# prescriber table
query = "SELECT * FROM prescriber"
with engine.connect() as connection:
    prescriber = pd.read_sql(text(query), con=connection)

prescriber.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,nppes_provider_zip5,nppes_provider_zip4,nppes_provider_state,nppes_provider_country,specialty_description,description_flag,medicare_prvdr_enroll_status
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,37243,0001,TN,US,Nurse Practitioner,S,N
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,37919,2333,TN,US,Pulmonary Disease,S,E
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,37043,4605,TN,US,Family Practice,S,E
3,1.003014e+09,OTTO,ROBERT,J,M.D.,M,I,2400 PATTERSON STREET SUITE 100,None,NASHVILLE,37203,2786,TN,US,Orthopedic Surgery,S,E
4,1.003018e+09,TODD,JOSHUA,W,M.D.,M,I,1819 W CLINCH AVE,SUITE 108,KNOXVILLE,37916,2435,TN,US,Cardiology,S,E

In [4]:
# for drug table
query = "SELECT * FROM drug"
with engine.connect() as connection:
    drugs = pd.read_sql(text(query), con=connection)

drugs.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1ST TIER UNIFINE PENTIPS,"PEN NEEDLE, DIABETIC",N,N,N,N
1,1ST TIER UNIFINE PENTIPS PLUS,"PEN NEEDLE, DIABETIC",N,N,N,N
2,ABACAVIR,ABACAVIR SULFATE,N,N,N,N
3,ABACAVIR-LAMIVUDINE,ABACAVIR SULFATE/LAMIVUDINE,N,N,N,N
4,ABACAVIR-LAMIVUDINE-ZIDOVUDINE,ABACAVIR/LAMIVUDINE/ZIDOVUDINE,N,N,N,N

In [5]:
# for zip_fips and fips_county
zip_fips = pd.read_sql(text("SELECT * FROM zip_fips"), con=engine)
fips = pd.read_sql(text("SELECT * FROM fips_county"), con=engine)

In [6]:
# filter for opioids
opioids = drugs[drugs['opioid_drug_flag'] == 'Y']
opioids.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
10,ABSTRAL,FENTANYL CITRATE,Y,N,N,N
18,ACETAMIN-CAFF-DIHYDROCODEINE,ACETAMINOPHEN/CAFF/DIHYDROCOD,Y,N,N,N
19,ACETAMINOPHEN-CODEINE,ACETAMINOPHEN WITH CODEINE,Y,N,N,N
33,ACTIQ,FENTANYL CITRATE,Y,N,N,N
212,ARYMO ER,MORPHINE SULFATE,Y,Y,N,N

In [7]:
# join prescriptions to opioid list
opioid_rx = rx.merge(opioids, on="drug_name")
opioid_rx.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,ge65_suppress_flag,total_30_day_fill_count_ge65,total_day_supply_ge65,total_drug_cost_ge65,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag
0,1.659798e+09,OXYCODONE-ACETAMINOPHEN,102.0,525.0,525.0,15538.0,27665.43,43.0,None,245.0,None,245.0,7290.0,12245.28,OXYCODONE HCL/ACETAMINOPHEN,Y,N,N,N
1,1.003955e+09,HYDROCODONE-ACETAMINOPHEN,14.0,79.0,79.0,2273.0,626.75,NaN,*,NaN,*,NaN,NaN,NaN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
2,1.487942e+09,HYDROCODONE-ACETAMINOPHEN,NaN,12.0,12.0,161.0,154.58,NaN,*,NaN,*,NaN,NaN,NaN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N
3,1.295730e+09,TRAMADOL HCL,NaN,26.0,26.0,657.0,112.66,NaN,#,NaN,#,NaN,NaN,NaN,TRAMADOL HCL,Y,N,N,N
4,1.316100e+09,HYDROCODONE-ACETAMINOPHEN,11.0,12.0,12.0,29.0,53.25,NaN,*,NaN,*,NaN,NaN,NaN,HYDROCODONE/ACETAMINOPHEN,Y,N,N,N

In [8]:
# add prescriber to zip_fips and fips
prescriber_geo = (
    prescriber
    .merge(zip_fips, left_on="nppes_provider_zip5", right_on="zip")
    .merge(fips, on="fipscounty")
)

prescriber_geo.head()

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,medicare_prvdr_enroll_status,zip,fipscounty,res_ratio,bus_ratio,oth_ratio,tot_ratio,county,state,fipsstate
0,1.003000e+09,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,N,37243,47037,0.000000,1.000000,1.0,1.000000,DAVIDSON,TN,47
1,1.003012e+09,CUDZILO,COREY,None,M.D.,M,I,2240 SUTHERLAND AVE,SUITE 103,KNOXVILLE,...,E,37919,47093,1.000000,1.000000,1.0,1.000000,KNOX,TN,47
2,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,E,37043,47125,0.996300,0.998589,1.0,0.996572,MONTGOMERY,TN,47
3,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,E,37043,47147,0.000084,0.000000,0.0,0.000076,ROBERTSON,TN,47
4,1.003013e+09,GRABENSTEIN,WILLIAM,P,M.D.,M,I,1822 MEMORIAL DR,None,CLARKSVILLE,...,E,37043,47021,0.003616,0.001411,0.0,0.003351,CHEATHAM,TN,47

In [9]:
# add the opioid prescriptions to the county mapped prescribers
opioid_with_county = opioid_rx.merge(prescriber_geo, on="npi")
opioid_with_county.head()

,npi,drug_name,bene_count,total_claim_count,total_30_day_fill_count,total_day_supply,total_drug_cost,bene_count_ge65,bene_count_ge65_suppress_flag,total_claim_count_ge65,...,medicare_prvdr_enroll_status,zip,fipscounty,res_ratio,bus_ratio,oth_ratio,tot_ratio,county,state,fipsstate
0,1.659798e+09,OXYCODONE-ACETAMINOPHEN,102.0,525.0,525.0,15538.0,27665.43,43.0,None,245.0,...,E,37311,47011,0.996995,1.000000,0.997940,0.997417,BRADLEY,TN,47
1,1.659798e+09,OXYCODONE-ACETAMINOPHEN,102.0,525.0,525.0,15538.0,27665.43,43.0,None,245.0,...,E,37311,47065,0.003005,0.000000,0.002060,0.002583,HAMILTON,TN,47
2,1.003955e+09,HYDROCODONE-ACETAMINOPHEN,14.0,79.0,79.0,2273.0,626.75,NaN,*,NaN,...,E,37421,47065,1.000000,1.000000,1.000000,1.000000,HAMILTON,TN,47
3,1.487942e+09,HYDROCODONE-ACETAMINOPHEN,NaN,12.0,12.0,161.0,154.58,NaN,*,NaN,...,E,37208,47037,1.000000,1.000000,1.000000,1.000000,DAVIDSON,TN,47
4,1.295730e+09,TRAMADOL HCL,NaN,26.0,26.0,657.0,112.66,NaN,#,NaN,...,E,38583,47035,0.044379,0.007609,0.189189,0.042635,CUMBERLAND,TN,47

In [10]:
# aggregate opioid prescriptions by county
opioid_by_county = (
    opioid_with_county
    .groupby("county")["total_claim_count"]
    .sum()
    .reset_index()
    .sort_values("total_claim_count", ascending=False)
)

opioid_by_county

      county  total_claim_count
19  DAVIDSON           320821.0
47      KNOX           280484.0
79    SHELBY           240211.0
33  HAMILTON           229988.0
82  SULLIVAN           141375.0
..       ...                ...
81   STEWART             3216.0
21   DECATUR             2371.0
48      LAKE              220.0
85    TRAVIS               40.0
6     BROOKS               20.0

[97 rows x 2 columns]

In [11]:
opioid_by_county.head(15)

        county  total_claim_count
19    DAVIDSON           320821.0
47        KNOX           280484.0
79      SHELBY           240211.0
33    HAMILTON           229988.0
82    SULLIVAN           141375.0
91  WASHINGTON           111925.0
95  WILLIAMSON           104875.0
10      CARTER           100532.0
37     HAWKINS            99832.0
75  RUTHERFORD            83305.0
83      SUMNER            82216.0
55     MADISON            79787.0
9      CARROLL            78063.0
26    FRANKLIN            69226.0
73       ROANE            69217.0

In [12]:
# normalize by population?

In [13]:
# Tennessee's Opioid Crisis
# Opioids are a class of drugs including prescription pain relievers such as oxycodone and hydrocodone, the synthetic opioid fentanyl,
# and the illegal drug heroin. These drugs produce euphoria in addition to pain relief, which can lead to dependence, addiction,
# overdose, and death.

# In the late 1990s, opioids began to be prescribed at high rates, which led to widespread misuse and ultimately created a serious
# national health crisis. In 2019, more than 130 people per day died from opioid-related drug overdoses in the United States. 
# Tennessee has been one of the hardest-hit states in the opioid epidemic, with more than 1300 overdose deaths in 2018.
    
# In this project, you will be working with a database created from the 2017 Medicare Part D Prescriber Public Use File to answer the
# following questions:
# ⦁	Which Tennessee counties had a disproportionately high number of opioid prescriptions?
# ⦁	Who are the top opioid prescibers for the state of Tennessee?
# ⦁	What did the trend in overdose deaths due to opioids look like in Tennessee from 2015 to 2018?
# ⦁	Is there an association between rates of opioid prescriptions and overdose deaths by county?
# ⦁	Is there any association between a particular type of opioid and number of overdose deaths?
# Note that some zip codes will be associated with multiple fipscounty values in the zip_fips table. To resolve this, use the
# fipscounty with the highest tot_ratio for each zipcode.
    
# Feel free to include any additional data sets, but it is not a requirement.
# With your group, create a 10 minute presentation addressing these questions.